{% extends 'devoloper/base.html' %}
{% load static %}
{% block title %}Навыки{% endblock %}
{% block intro %}
<section class="page-intro">
    <div class="container">
        <div class="page-intro__row">
            <h1>Навыки</h1>
        </div>
    </div>
    <div class="page-intro__bg">
        <div class="container">
            <div class="page-intro__img">
                <img src="{% static 'devoloper/images/skills/intro.webp' %}" alt="intro">
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}
<div class="page-content content-index">
    <h2 class="page-content__title content-skills__title">ТОП-10 навыков по годам</h2>
    <div id="skill" class="content-skills__skill">2018: Python, Django, Linux, SQL, Big Data, Mathematical Analysis,
    PostgreSQL, Assembler, JavaScript, ООП</div>
    <div id="skill" class="content-skills__skill">2019: Python, Django, PostgreSQL, Git, Node.js, Redis, MySQL,
    Aiohttp, SQL, Linux</div>
    <div id="skill" class="content-skills__skill">2020: Python, Django, MySQL, Node.js, HTML, SQL, JavaScript,
    Linux, JavaScript, Lunux</div>
    <div id="skill" class="content-skills__skill">2021: Python, Django, Git, Redis, MySQL, SQL, Linux,
    Английский язык, React, JavaScript</div>
    <div id="skill" class="content-skills__skill">2022: Python, SQL, Тестирование, Английский язык, PostgreSQL,
    MySQL, Linux, Git, REST, SOAP</div>
</div>
{% endblock %}